
# version format
version: 0.1.6.{build}

# build platform, i.e. x86, x64, Any CPU. This setting is optional.
platform: x86

# to add several platforms to build matrix:
#platform:
#  - x86
#  - Any CPU

# build Configuration, i.e. Debug, Release, etc.
configuration: Release

build:
  parallel: true                  # enable MSBuild parallel builds
  project: solutions\KitchenSink\KitchenSink.sln      # path to Visual Studio solution or project

before_build:
  - ps: nuget restore solutions\KitchenSink\KitchenSink.sln
  

# deploy:
  # - provider: GitHub
    # on:
      # branch: master                # release from master branch only
notifications:
# Email
  - provider: Email
    to:
      shangzha@cisco.com
    subject: 'Build {{status}}'                  # optional
    message: "{{message}}, {{commitId}}, ..."    # optional
    on_build_status_changed: true     